<!DOCTYPE html>
<html>
  <head>
    <title>Brainstorm - Collaborate easily !</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <div class="container">
  	<h1>Brainstorm - P2P Chat , Video Chat and Whiteboard using WebRTC . </h1><br /><br /><br /><br />
  	<textarea name="search" placeholder="Enter Peer's ID . . . "></textarea>
  	<h1>Your ID is as follows : </h1>
  	<textarea name="search" placeholder="Your ID . . . Wait for a moment . . Share this with your peer"></textarea>
  	<h3>* Share your ID with your peer and ask him/her to do the same . :') </h3>
  </div>
  <!--
  <div class="btn">
  <div class="btn-front">Delete</div>
</div>
-->
<script type="text/javascript" src="/javascripts/home.js"></script>
  </body>
</html>
