<!DOCTYPE html>
<html>
  <head>
    <title>Brainstorm - Collaborate easily !</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div class="container">
  	<h1>Brainstorm - P2P Chat , Video Chat and Whiteboard using WebRTC . </h1><br /><br />
  	<textarea id="peerId" name="search" placeholder="Enter Peer's ID . . . "></textarea>
  	<h1>Your ID is as follows : </h1>
  	<textarea id="myId" name="search" placeholder="Your ID . . . Wait for a moment . . Share this with your peer"></textarea>
  	<h3>* Share your ID with your peer and ask him/her to do the same . :') </h3><br />
  	<h2 id="connect"> Connect </h2>
  </div>
<script type="text/javascript" src="/javascripts/Canvas-Designer/canvas-designer-widget.js"></script>
<script type="text/javascript" src="/javascripts/home.js"></script>
<script type="text/javascript" src="/javascripts/bundle.js"></script>
  </body>
</html>
